.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 5px;
    transition: transform linear 280ms;

    &:hover {
        transform: scale(1.5);
    }
}

.navList {
    display: flex;
    list-style: none;

    & > li {
        &:not(last-child) {
            margin-right: 30px;
        }

        &:hover {
            transform: scale(1.5);
        }

        transition: transform linear 280ms;
    }
}

.navLink {
    border-radius: 10px;
    padding: 6px;

    &.active {
        color: brown;
        font-weight: 800;
    }
  }