.list {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 32px auto 0;
    padding: 20px;
}

.item {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 230ms linear;

    &:hover {
        box-shadow: 0px 10px 8px brown;
    }
}

.icon {
    transition: color 230ms linear;

    .item:hover & {
        color: brown;
    }
}